<!--ANTERIOR
<nav class="nav__container">
    <input type="checkbox" id="check">
    <label for="check" class="btn__icono"><i class="fas fa-bars"></i></label>
      <a class="enlace"><img src="../../../assets/APLogo.png" class="nav__logo"></a>
      <ul class="nav__list ">
          <li class="nav__item">
              <a href="#inicio" class="nav__link"><i class="uil uil-estate nav__icon"></i>Inicio</a>
          </li>
          <li class="nav__item">
              <a href="#sobremi" class="nav__link"><i class="uil uil-user nav__icon"></i>Sombre Mí</a>
          </li>
          <li class="nav__item">
              <a href="#habilidades" class="nav__link"><i class="uil uil-file-info-alt nav__icon"></i>Habilidades</a>
          </li>
          <li class="nav__item">
              <a href="#proyectos" class="nav__link"><i class="uil uil-briefcase-alt nav__icon"></i>Proyectos</a>
          </li>
          <li class="nav__item">
              <a href="#contacto" class="nav__link"><i class="uil uil-message nav__icon"></i>Contacto</a>
          </li>
      </ul>
    
  </nav>
  <div>
    <app-banner></app-banner>
  </div>
-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container flex-lg-column">
      <a class="navbar-brand mx-lg-auto mb-lg-4" href="#">
        <span class="h3 fw-bold d-block d-lg-none">Matias Colazo</span>
        <img src="" class="d-none d-lg-block rounded-circle" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">
          
          <li class="nav-item">
            <a class="nav-link" href="#inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#sobremi">Sobre Mí</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#habilidades">Habilidades</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#proyectos">Proyectos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contacto">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#login">Login</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>
