<nav class="nav__container">
    <input type="checkbox" id="check">
    <label for="check" class="btn__icono"><i class="fas fa-bars"></i></label>
      <a class="enlace"><img src="../../../assets/APLogo.png" class="nav__logo"></a>
      <ul class="nav__list">
          <li class="nav__item">
              <a href="#inicio" class="nav__link"><i class="uil uil-estate nav__icon"></i>Inicio</a>
          </li>
          <li class="nav__item">
              <a href="#sobremi" class="nav__link"><i class="uil uil-user nav__icon"></i>Sombre Mí</a>
          </li>
          <li class="nav__item">
              <a href="#habilidades" class="nav__link"><i class="uil uil-file-info-alt nav__icon"></i>Habilidades</a>
          </li>
          <li class="nav__item">
              <a href="#proyectos" class="nav__link"><i class="uil uil-briefcase-alt nav__icon"></i>Proyectos</a>
          </li>
          <li class="nav__item">
              <a href="#contacto" class="nav__link"><i class="uil uil-message nav__icon"></i>Contacto</a>
          </li>
      </ul>
  <section><img src="../../../assets/Programar-en-IDE.png"></section>
  </nav>
  
