<div id="content-wrapper">
    <section id="habilidades" class="full-height px-lg-5">

        <div class="container">
            <div class="row pb-4" data-aos="fade-up">
                <div class="col-lg-8">
                    <h6 class="text-brand">HABILIDADES</h6>
                    <h1>Mis Habilidades </h1>
                </div>
            </div>

            <div class="row">
                  <div class="col-lg-6">
                    <app-habilidades-f></app-habilidades-f>
                  </div>
                  <div class="col-lg-6">
                    <app-habilidades-b></app-habilidades-b>
                  </div>
            </div>
          </div>
    </section>
</div>