<div id="content-wrapper">
   <section id="proyectos" class="full-height px-lg-5">
        
    <div class="container">
            <div class="row pb-4" data-aos="fade-up">
                <div class="col-lg-8">
                    <h6 class="text-brand">PROYECTOS</h6>
                    <h1>Mis Proyectos <button *ngIf="isLogged" #modalButton type="button" class="btn-nondeco rounded-4" (click)="open()">
                        <i class="fas fa-plus"></i>
                      </button></h1>
                </div>
            </div>
    </div>
    <li *ngFor="let Proyecto of pro">
    <div class="row gy-4 p-4">
        <div class="col-md-6" data-aos="fade-up"  data-aos-delay="300">
             <div class="card-custom rounded-4 bg-base shadow-effect">
                <div class="card-custom-image rounded-4">
                     <img  class="rounded-4" [src]="Proyecto.imagenP">
                </div>
                <div class="card-custom-content p-4">
                    <h4>{{Proyecto.nombreP}}</h4>
                    <p>{{Proyecto.descripcionP}}</p>
                    <a [href]="Proyecto.linkP" class="link-custom">Visitar Proyecto </a>
                    <div class="card-footer">
                        <button *ngIf="isLogged" class="btn-nodeco edit-button rounded-4" (click)="openEdit(Proyecto.id)"><i
                            class="fa-solid fa-pen-to-square"></i></button>
                        <button *ngIf="isLogged" class="btn-nodeco trash-button rounded-4" (click)="openDelete(Proyecto.id)"><i
                            class="fa-solid fa-trash"></i></button>
                    </div>
                </div>
                
             </div>
        </div>
    </div>
    
   </section>
</div>

<!-- Modal agregar -->
<div class="modal fade" tabindex="-1" #proyModal id="proyModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align: center;">
          <h5 class="modal-tittle" style="color: #FFFF;">Añadir nuevo proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            style="color: #FFFF;"></button>
        </div>
        <div class="modal-body">
          <form #addForm novalidate #f="ngForm">
  
            <div class="form-group">
              <label for="nombreProyecto" style="color: #FFFFFFE6">Nombre del proyecto</label>
              <input type="text" ngModel name="nombreProyecto" class="form-control" id="nombreProyecto"
                placeholder="Nombre del proyecto" required [(ngModel)]="nombreP" maxlength="80">
            </div>
  
            <div class="form-group">
              <label for="descripcionProyecto" style="color: #FFFFFFE6">Descripción del proyecto</label>
              <input type="text" ngModel name="descripcionProyecto" class="form-control" id="descripcionProyecto"
                placeholder="Descripción del proyecto" required [(ngModel)]="descripcionP" maxlength="300">
            </div>
  
            <div class="form-group">
              <label for="imagenProyecto" style="color: #FFFFFFE6">Imagen del proyecto</label>
              <input type="text" ngModel name="imagenProyecto" class="form-control" id="imagenProyecto"
                placeholder="Link de la imagen" required [(ngModel)]="imagenP" maxlength="200">
            </div>
  
            <div class="form-group">
              <label for="linkProyecto" style="color: #FFFFFFE6">Link del proyecto</label>
              <input type="text" ngModel name="linkProyecto" class="form-control" id="linkProyecto"
                placeholder="URL del proyecto" required [(ngModel)]="linkP" maxlength="200">
            </div>
  
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="save()">Confimar</button>
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal agregar -->

  <!--Modal borrar-->
<div class="modal fade" tabindex="-1" #deleteProModal id="deleteProModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: #FFFFFFE6">Eliminar proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 style="color: white">¿Está seguro de que desea eliminar este proyecto?</h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="delete(valorProyecto)"
            data-bs-dismiss="modal">Confimar</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal borrar-->
  
  <!-- Modal editar -->
<div class="modal fade" tabindex="-1" #editProModal id="editProModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align: center;">
          <h5 class="modal-tittle" style="color: #FFFFFFE6">Editar proyecto</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
            style="color: #FFFF;"></button>
        </div>
        <div class="modal-body">
          <form #addForm novalidate #f="ngForm">
            <div class="form-group">
              <label for="nombreProyecto" style="color: #FFFFFFE6">Nombre del proyecto</label>
              <input type="text" ngModel name="nombreProyecto" class="form-control" id="nombreProyecto"
                placeholder="Nombre del proyecto" required [(ngModel)]="nombreP" maxlength="80">
            </div>
            <div class="form-group">
              <label for="descripcionProyecto" style="color: #FFFFFFE6">Descripción del proyecto</label>
              <input type="text" ngModel name="descripcionProyecto" class="form-control" id="descripcionProyecto"
                placeholder="Descripción del proyecto" required [(ngModel)]="descripcionP" maxlength="300">
            </div>
            <div class="form-group">
              <label for="imagenProyecto" style="color: #FFFFFFE6">Imagen del proyecto</label>
              <input type="text" ngModel name="imagenProyecto" class="form-control" id="imagenProyecto"
                placeholder="Link de la imagen" required [(ngModel)]="imagenP" maxlength="200">
            </div>
            <div class="form-group">
              <label for="linkProyecto" style="color: #FFFFFFE6">Link del proyecto</label>
              <input type="text" ngModel name="linkProyecto" class="form-control" id="linkProyecto"
                placeholder="URL del proyecto" required [(ngModel)]="linkP" maxlength="200">
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal"
            (click)="update(valorProyecto)">Confimar</button>
          <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal editar -->

  <!--Modal error-->
<div class="modal fade" tabindex="-1" #errorProyectoModal id="errorProyectoModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: white">Error</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <h6 style="color: white">No se ha podido guardar el proyecto.</h6>
          <br>
          <h6 style="color: rgb(225, 225, 225)"><i>Puede que el nombre del proyecto esté repetido o no lo haya ingresado.</i></h6>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"
            data-bs-dismiss="modal">Confimar</button>
        </div>
      </div>
    </div>
  </div>
  <!--Modal error-->