<div id="content-wrapper">
    <section id="habilidades" class="full-height px-lg-5">

        <div class="container">
            <div class="row pb-4" data-aos="fade-up">
                <div class="col-lg-8">
                    <h6 class="text-brand">HABILIDADES</h6>
                    <h1>Mis Habilidades</h1>
                </div>
            </div>

            <div class="row gy-5">
                <div class="col-md-4">

                    <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Front-End</h3>
                    <div class="row gy-4">
                        <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                            <div class="bg-base p-4 rounded-4 shadow-effect">
                                <div class="skill-bar">
                                    <h5>HTML</h5>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 90%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Avanzado</div>
                                      </div>
                                </div>
                                <div class="skill-bar">
                                    <h5>CSS</h5>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 70%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Avanzado</div>
                                      </div>
                                </div>
                                <div class="skill-bar">
                                    <h5>JavaScript</h5>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 60%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Intermedio</div>
                                      </div>
                                </div>
                                <div class="skill-bar">
                                    <h5>Bootstrap</h5>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Intermedio</div>
                                      </div>
                                </div>
                                <div class="skill-bar">
                                    <h5>Angular</h5>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Basico</div>
                                      </div>
                                      
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="col-md-4">
    
                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Back-End</h3>
                        <div class="row gy-4">
                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <div class="skill-bar">
                                        <h5>Java/Spring Boot</h5>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 45%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Basico</div>
                                          </div>
                                    </div>
                                    <div class="skill-bar">
                                        <h5>MySql</h5>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Basico</div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
    
                        <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Soft Skill</h3>
                        <div class="row gy-4">
                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <div class="skill-bar">
                                        <h5>Trabajo en equipo</h5>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Colaborativo 100%</div>
                                          </div>
                                    </div>
                                    <div class="skill-bar">
                                        <h5>Autodidacta</h5>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Aprendizaje constante</div>
                                          </div>
                                    </div>
                                    <div class="skill-bar">
                                        <h5>Compromiso</h5>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 100%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">100%</div>
                                          </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            
        </div>
    </section>
</div>