<div id="content-wrapper">

<section id="sobremi" class="full-height px-lg-5">
    <div class="container">
       <div class="row pb-4" data-aos="fade-up">
          <div class="col-lg-8">
             <h6 class="text-brand">SOBRE MÍ</h6>
             <h1>Mi Educación & Experiencia</h1>
          </div>
       </div>
    </div>

    <div class="row gy-5">
        <div class="col-lg-6">

            <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Educación</h3>
             <div class="row gy-4">
                 <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                     <div class="bg-base p-4 rounded-4 shadow-effect">
                        <h4>Desarrollo Web FullStack</h4>
                        <p class="text-brand mb-2">Argentina Programa (2021 - 2022)</p>
                        <p class="mb-0">#SéProgramar & #YoProgramo, Cursos de Desarrollador Web FullStack</p>
                     </div>
                 </div>
             </div>
        </div>

        <div class="col-lg-6">
            <h3 class="mb-4" data-aos="fade-up" data-aos-delay="300">Experiencia</h3>
             <div class="row gy-4">
                 <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                     <div class="bg-base p-4 rounded-4 shadow-effect">
                        <h4>Desarrollo Web FullStack</h4>
                        <p class="text-brand mb-2">Freelancer (2021 - Presente)</p>
                        <p class="mb-0">Desarrollo de proyectos con el fin de aprender más en esta profesión</p>
                     </div>
                 </div>
             </div>
        </div>

    </div>

</section>

</div>