.bg{
    background-image: url(../../../assets/programmer-wallpaper-preview.png);
    background-position: center center;
}

.col{
    background-color: #000;
}

.btn{
    background-color: var(--color-base);
    color: #fff;
}
