<div id="content-wrapper">
   <section id="proyectos" class="full-height px-lg-5">
        
    <div class="container">
            <div class="row pb-4" data-aos="fade-up">
                <div class="col-lg-8">
                    <h6 class="text-brand">PROYECTOS</h6>
                    <h1>Mis Proyectos</h1>
                </div>
            </div>
    </div>

    <div class="row" data-aos="fade-up" data-aos-delay="300">
        <div class="col-lg-6">
             <div class="card-custom rounded-4 bg-base shadow-effect">
                <div class="card-custom-image rounded-4">
                     <img  class="rounded-4" src="../../../assets/una-taza-de-javascript.png">
                </div>
                <div class="card-custom-content p-4">
                    <h4>Portfolio Web - Argentina Programa</h4>
                    <p>Proyecto final de Argentina Programa Desarrollador Web FullStack, tecnologías utilizadas: HTML, CSS, Bootstrap, JavaScript, Angular, MySql y Java</p>
                    <a href="#" class="link-custom">Visitar Proyecto</a>
                </div>
             </div>
        </div>
    </div>
    
   </section>
</div>